  <%= form_for @user do |user| %>
    <div id="profile_info">
      <%= user.label :name %>
      <%= user.text_field :name  %>
    </div>
  <div id="profile_info">
    <%= user.label :email %>
    <%= user.text_field :email  %>
  </div>
  <div id="profile_info">
    <strong><%= user.label :username %></strong>
    <%= user.text_field :username  %>
  </div>
  <div id="profile_info">
    <%= user.label :password %>
    <%= user.text_field :password  %>
  </div id="profile_info">
   <% if session[:provider]!="facebook" %>
    <div>
      <%= user.label :photo %>
    <%= user.file_field :photo  %> <br>
    </div>
    <% end %>
    <%= user.submit %>

  <% end %>

