<div class="container"><%= form_for(@user) do |user| %>
<div> Create Account </div>
<div>
	<%= user.label :name %> <br>
	<%= user.text_field :name  %>
</div>
<div>
	<%= user.label :email %> <br>
	<%= user.text_field :email  %>
</div>
<div>
	<%= user.label :username %> <br>
	<%= user.text_field :username  %>
</div>
<div>
	<%= user.label :password %> <br>
	<%= user.password_field :password  %>
</div>
	<%= user.submit "Create Account" %>
<% end %>
</div> <br>

<div class="container">
<%=form_tag login_sessions_path do %>
<div>
        <%= label_tag :email %> <br>
        <%= text_field_tag :email %>
</div>
<div>
        <%= label_tag :password %> <br>
        <%= password_field_tag :password  %> <br>
        <%= submit_tag "Login" %>
</div>
<% end %>
</div>

<% if flash[:error] %>
<ul>
<% flash[:error].each do |error| %><br>
<li style="color:red"><%= error %> </li>
<% end %>
</ul>
<% end %>