    <div class="navbar navbar-inverse navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          <!-- <a class="brand" href="#"> Put It Out</a> -->
            <%= link_to "Put It Out", root_path, {:class => "brand"}%>
            <div class="container-fluid nav-collapse">
              <ul class="nav" >
                <!-- Home link is available on each page -->

                <li><%= link_to "Resources", resources_path %></li>
                <li class="dropdown">
                  <a href="/about" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                   <ul class="dropdown-menu">
                    <li><a href="/about/us">Team</a></li>
                    <li><a href="/about/company">Company</a></li>
                  </ul>
                </li>

                <!-- If user is signed in-->
                <% if current_user %>
                  <li><%= link_to "Create a new post", new_post_path %></li>

                      <li><%= link_to "Logout", logout_sessions_path %></li>
                      <li><%= link_to "MyProfile", users_path %></li>

                 <% if current_user.photo%>
                   <li> <img src="<%= current_user.photo %>"></li>
                 <% end %>
                <% else %>

                 <li id="right"><%= link_to "Sign Up or Login", new_user_path %></li>
                <% end %>
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
