<div class="navbar">
  <ul>
    <!-- Home link is available on each page -->
    <li> <div class='home_navbar'><%= link_to "Put It Out", root_path %></div></li>
    <li><%= link_to "Resources", resources_path %></li>

    <!-- If user is signed in-->
    <% if current_user %>
     <li id="right"><%= link_to "MyProfile", users_path %></li>

     <li id="right"><%= link_to "Create a new post", new_post_path %></li>
     <li id="right"> <%= link_to "Logout", logout_sessions_path %></li>   

    <% else %>
    <!-- If user isn't signed in -->
     <li id="right"><%= link_to "Sign Up or Login", new_user_path %></li>
    <% end %>
</div>
