<div>

	<h1> How long has it been? </h1>
		<div id="count_up_timer">


			<%= ((@world_time - @last_cig.updated_at)/60) %> minutes


		</div>

				<% if current_user.timer_id == nil? %>
			<%= form_for [@user, @timer] do |f| %>
				<%= f.submit "I'm done with smoking!" %>
			<% end %>
			<% end %>
			
			<% if @last_cig.user_id != nil %>
		<%= form_for [@user, @last_cig] do |f| %>
			<%= f.submit "I just smoked", :url => ("/users/#{@user.id}/timers/#{@last_cig.id}") %>
				<% end %>
		<% end %>



</div>