<div id="resources">
<h1> Current Resources </h1>
<span id="delete">
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
</span>

<ol>
	<% if @resources != nil %>
		<% @resources.each do |resource| %>
	<li>
		<%= resource.title %> | <a href="<%=resource.link%>"><%=resource.link%></a><br>
		<p><%= resource.description %></p>
				<% if @user.admin == true %>
				 <%= form_for(resource, :method => "delete", :confirm => "fo realz?") do |f| %>
    			<%= f.submit "Delete Post"%>
	    		<%= link_to "Edit", edit_resource_path(resource) %>
    			<% end %>
			</li>
			<% end %>
		 <% end %>
	<% end %>
</ol>
</div>

<div>
	<% if @user.admin == true%>
	<%= link_to "Add Resource", new_resource_path %>
	<% end %>
</div>
