<div>
<h1> Current Resources </h1>

<ol>
	<% if @resources != nil %>
		<% @resources.each do |resource| %>
		<li>
		<%= resource.title %> | <a href="<%=resource.link%>"><%=resource.link%></a><br>
		<p><%= resource.description %></p>
		<% if @user.id == 1 %>
			<%= link_to "Delete this Post", :method => delete, resources_path(resources) %>
		</li>
	<% end %>
	 <% end %>
</ol>
</div>

<div>
	<%= link_to "Add Resource", new_resource_path %>
</div>
