<div>
	<h1>Send a resource for admin approval!</h1>

<%= form_for @resources do |f| %>
<%= f.label :title %>
<%= f.text_field :title %><br>
<%= f.label :link %>
<%= f.text_field :link  %><br>
<%= f.label :description %>
<%= f.text_field :description %><br>
<%= f.submit %>
<%= link_to "Cancel", resources_path %>
<% end %>
</div>

<div>
	<% if flash[:error] %>
		<%render "index"%>
	<%end%>
</div>