<!DOCTYPE html>
<html>
<head>

  <title>PutItOut</title>
</head>
<%= render '/shared/navbar' %>

<body>
<%= yield %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</body>
</html>
